<section class="welcome-content">
    <article class="welcome-content-text"> 
        <h1 class="bold-welcome">Bulgarian volleyball photography</h1>
        <h3>You can find a professional photos from volleyball sport events in Bulgaria </h3>
    </article>
    <article class="welcome-content-image">
        <img src="/static/images/volleyball.jpg" alt="volleyball">
    </article>
</section>